# Documentation
mkdocs-material>=9.5.16
mkdocs-glightbox>=0.3.2
mkdocs-material-extensions>=1.3.1
pymdown-extensions>=1.1.1
mkdocs-same-dir>=0.1.2
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-exclude>=1.0.2

# Developer stuff
ruff>=0.4.7
codespell>=2.2.6
pre-commit>=3.7.0

# Other
ipython >= 8.24.0
