name: Check docs

on:
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Sync dependencies
        run: uv sync

      - name: Build docs
        run: uv run mkdocs build -d build --strict

      - name: Upload docs
        uses: actions/upload-artifact@v6
        with:
          name: docs
          path: build
