name: Run repo scraper

on:
  #schedule:
  #  - cron: "0 */1 * * *"  # Runs every hour
  workflow_dispatch: {}  # Allows manual executions

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Sync dependencies
        run: uv sync

      - name: Auth with GCP
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Run repo scraper
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python tools/repo_stats/scraper.py
