name: Run repo scraper

on:
  #schedule:
  #  - cron: "0 0 * * *"  # Run at the end of every day
  workflow_dispatch: {}  # manual executions

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Install dependencies
        run: |
          pip install -r tools/repo_stats/requirements.txt
          pip list

      - name: Run repo scraper
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python tools/repo_stats/scraper.py
